/* -------------------------------------
 * SASS code SPECIFIC TO your home page
 * (margin/padding adjustments, background image, etc..)
 * ------------------------------------- */

/*#home {

  background-image: url("pattern.png");
}*/

.col1 {
  fill: #B2DBBF;
  &:hover{
    fill:#FF1654;
      -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
  }
}

.col2 {
  fill: #9BC1BC;
}

.col3 {
  fill: #5CA4A9;
}

.col4 {
  fill: #70C1B3;
  &:hover{
    fill:#F3FFBD;
      -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
  }
}


#Calque_1 {
  width:46%;
  height:46%;
}

/*.st0{
  fill: white;
}*/

/*.arrondissement {
  &:hover{
    fill: #FF1654;
      -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
  }
}*/

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.banner_home {
  height: 400px;
  padding: 0px;
  padding-top: 30px;
  z-index: 0;
  background-position: center;


  &-btn {
    height: 10ox;
    padding: 12px 30px;

    border-radius: 3px;
    font-weight: bold;
    color: #70C1B3;
    border: none;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
    font-size: 16px;
    }

    &-btn:hover {
    color: #FF1654;
    background-color: white;

    }

  }
  .btn-default{
       font-size: 30 px;

    }

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.flex-container {
           display: -webkit-flex;
           display: flex;
           -webkit-flex-direction: row;
           flex-direction: row;
           -webkit-align-items: center;
           align-items: center;

           flex-wrap: wrap;
           min-width: 320px;
           max-width: 1220px;
        }
        .flex-item {
        height: 120px;
        width: 300px;
        border: 1px solid #626262;
        margin: 3px;
        padding: 10px 0 0 10px;
        }

        .info-container{
            display: inline-block;
            vertical-align: top;
            padding: 0 0 0 5px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        .info-container p{
            padding: 0;
            margin: 0 0 10px;
        }


  .presentation h2 {
    display:inline;
    font-size: 50px;
  }

  .est {
    color:#B2DBBF;
  }

  .description {
    &-first {
    color:#B2DBBF;
  }

    &-second {
    color:#FF1654;
    }
  }

  description h4 {
    display:inline;
  }

  .presentation-food {
    color:#B2DBBF;

  }

   .presentation-kick {
    color:#FF1654;

  }





/*.map {
    z-index: 1;
    height: 80%;
    width: 30%;
    width: 100%;
    margin-top: 0;
    background: url("map1.svg") no-repeat center center;
    background-size: contain;

    /*z-index:1;
    height: 70%;
    width: 30%;
    margin-top: 20px;

    border-radius: 5%;
    border: 3px solid #F1F1F1;
    background-color:#00497F;
  }*/




  /*h1 {
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
  p {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 3;
    margin-bottom: 18px;
  }
  &-shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  &-content {
    position: relative;
    z-index: 2;
  }*/


