/* -------------------------------------
 * SASS code SPECIFIC TO your home page
 * (margin/padding adjustments, background image, etc..)
 * ------------------------------------- */

/*#home {

  background-image: url("pattern.png");
}*/


.banner_home {
  height: 400px;
  padding: 0px;
  padding-top: 30px;
  z-index: 0;
  background-position: center;


  &-btn {
    height: 10ox;
    padding: 12px 30px;

    border-radius: 3px;

    font-weight: bold;
    color: #00497F;
    border: none;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
    font-size: 16px;
    }
  }

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}




/*.map {
    z-index: 1;
    height: 80%;
    width: 30%;
    width: 100%;
    margin-top: 0;
    background: url("map1.svg") no-repeat center center;
    background-size: contain;

    /*z-index:1;
    height: 70%;
    width: 30%;
    margin-top: 20px;

    border-radius: 5%;
    border: 3px solid #F1F1F1;
    background-color:#00497F;
  }*/




  /*h1 {
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
  p {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 3;
    margin-bottom: 18px;
  }
  &-shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  &-content {
    position: relative;
    z-index: 2;
  }*/


