.restaurant-show-content {
  margin-top: 67.5vh;
  background-color: white;
}
.titre-restaurant {
  margin-top: 110px;
  margin-left: 60px;
  font-size: 32px;
  letter-spacing: 6px;
  background-color: transparent;
}

.titre-restaurant span {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  text-align: center;
}
.description-restaurant {
  margin-top: 100px;
  margin-left: 60px;
  font-size: 24px;
  letter-spacing: 3px;
  background-color: transparent;
}

.description-restaurant span {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  text-align: center;
}
.enorme {
  font-size: 200px;
}
