@font-face { font-family: "Rudiment"; src: assets-url('Rudiment.ttf') format("truetype"); };


.restaurant-show-content {
  background-color: white;
}
.titre-restaurant {
  margin-top: 110px;
  margin-left: 60px;
  font-size: 32px;
  letter-spacing: 6px;
  background-color: transparent;
}

.titre-restaurant span {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  text-align: center;
}
.description-restaurant {
  margin-top: 100px;
  margin-left: 60px;
  font-size: 24px;
  letter-spacing: 3px;
  background-color: transparent;
}

.description-restaurant span {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  text-align: center;
}
.enorme {
  font-size: 200px;
}


.blackboard {
  position: relative;
  background-image:image-url('blackboard.png');
  color: white;
  font-family: Rudiment, sans-serif;


  &-background {
  height: 500px;
  width: 100%;

  &-menu {
  position: absolute;
  top: 20px;

  }

}
}
.col-xs-12 {

  padding-top: 30px;
}
