@font-face { font-family: "Rudiment"; src: assets-url('stylesheets/vendor/Rudiment.ttf') format("truetype"); };

@font-face {
  font-family: 'Rudiment';
  src:font-url('rudiment.ttf');
  src:font-url('rudiment.eot?#iefix') format('embedded-opentype'),
    font-url('rudiment.svg#rudiment') format('svg'),
    font-url('rudiment.woff') format('woff'),
    font-url('rudiment.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.restaurant-show-content {
  background-color: white;
}

.titre-restaurant {
  margin-top: 110px;
  margin-left: 60px;
  font-size: 32px;
  letter-spacing: 6px;
  background-color: transparent;
}

.titre-restaurant span {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  text-align: center;
}
.description-restaurant {
  margin-top: 100px;
  margin-left: 60px;
  font-size: 24px;
  letter-spacing: 3px;
  background-color: transparent;
}

.description-restaurant span {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  text-align: center;
}
.enorme {
  font-size: 200px;
}


.blackboard {
  position: relative;
  background-image:image-url('blackboard.png');
  color: white;



  &-background {
  height: 500px;
  width: 100%;

  &-menu {
  position: absolute;
  top: 20px;

  }

}
}

.blackboard h3{
  font-family: 'Lobster', sans-serif;
  font-size: 35px;
}
.blackboard h5{
  font-family: 'Lobster', sans-serif;
  font-size: 30px;

}

.blackboard p{
  font-family: 'Lobster', sans-serif;
  font-size: 20ctindexpx;

}


.menu {
  h3 {
    font-size: 18px;
    color: #FF003E;
  }
  .description {
    display: inline-block;
  }
  .pull-left {
    font-size: 16px;
    font-weight: 400;
  }
}


