#login {
  display:block;
  background-color: #F7F7F7;
  -moz-box-shadow: 0 0 2px 2px #888;
    -webkit-box-shadow: 0 0 2px 2px #888;
  box-shadow: 0 0 2px 2px #888;
  border-radius:2px;
  margin-top: 30px;
  margin-bottom: 30px;
  .social-box{
    margin: 0 auto;
    padding: 38px;
    .btn-info {
      background-color: #39B3D7;
      border: none;
      margin-top: 20px;
    }
    .btn-primary {
      border: none;
      background-color: #3276B1;
    }
    a {
      font-weight:bold;
      font-size:18px;
      padding:8px;
      i {
        font-weight:bold;
        font-size:20px;
      }
    }
  }
  .sign-in-footer {
    text-align: right;
  }
}
