<footer>
  <div class="footer-top padded">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <h4>Notre sélection</h4>
          <ul>
            <li>La Tour d'Argent</li>
            <li>Le didon en laisse</li>
            <li>L'Alicheur</li>
            <li>Le Temps des Cerises</li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4">
          <h4>Les quartiers</h4>
          <ul>
            <li>Bastille</li>
            <li>Le Marais</li>
            <li>Champs-Elysées</li>
            <li>La Vilette</li>
            <li>Montmartre</li>
            <li>République</li>
            <li>Quartier Latin</li>
            <li>Trocadéro</li>
            <li>Saint-Germain</li>
            <li>Notre Dame</li>
            <li>Odéon</li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4">
          <h4>Les cuisines</h4>
          <ul>
            <li>Française</li>
            <li>Chinoise</li>
            <li>Mexicaine</li>
            <li>Italienne</li>
            <li>Japonaise</li>
            <li>Indienne</li>
            <li>Libanaise</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <div class="footer-bottom">

  </div>
  <div >
    <ul class="list-inline text-center">
      <li>© La Fine Equipe</li>
    </ul>
    <div style="padding-bottom: 50px;"class="text-center footer-text">
      <i class="fa fa-facebook fa-2x i-f faa-float animated-hover" style="padding: 20px;"></i> <i class="fa fa-twitter fa-2x i-f faa-float animated-hover" style="padding: 20px;"></i> <i class="fa fa-instagram fa-2x i-f faa-float animated-hover" style="padding: 20px;"></i>
    </div>
  </div>
</footer>




<!-- Bouuuuuuuuuuuuuuuuuse -->

<%(1..301).each do %>
  <div class='box-wrap view-poll'>
    <div class='box'></div>
  </div>
<%end%>

<h3 class="text-center">Ne scrollez plus! Contribuez à la communauté foodkick</h3>
<h4 class="text-center">Made with love</h4>

<script>function viewPoll( selector ) {

  var elems = document.querySelectorAll( selector ),
    count = elems.length,
    scrollTop = 0,
    winHeight = 0;

  function colliding( y1, h1, y2, h2 ) {
    return (
      ( y2 >= y1 && y2 <= y1 + h1 ) ||
      ( y2 + h2 >= y1 && y2 + h2 <= y1 + h1 )
    );
  }

  function updateElemRects() {
    for( var i = 0; i < count; i++ ) {
      var elem = elems[ i ],
        rect = elem.getBoundingClientRect(),
        y = scrollTop + rect.top,
        h = rect.bottom - rect.top,
        inView = colliding( scrollTop, winHeight, y, h );
      if( inView ) {
        elem.classList.add( 'in-view' );
      } else {
        elem.classList.remove( 'in-view' );
      }
    }
  }

  function onResize() {
    winHeight = window.innerHeight;
    updateElemRects();
  }

  function onScroll() {
    updateElemRects();
  }

  window.addEventListener( 'resize', onResize, false );
  window.addEventListener( 'scroll', onScroll, false );
  window.addEventListener( 'touchmove', onScroll, false );

  onResize();
  onScroll();
}

viewPoll( '.view-poll' );</script>

