<footer>
  <div class="footer-top padded">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <h4>Notre sélection</h4>
          <ul>
            <li>La Tour d'Argent</li>
            <li>Le didon en laisse</li>
            <li>L'Alicheur</li>
            <li>Le Temps des Cerises</li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4">
          <h4>Les quartiers</h4>
          <ul>
            <li>Bastille</li>
            <li>Le Marais</li>
            <li>Champs-Elysées</li>
            <li>La Vilette</li>
            <li>Montmartre</li>
            <li>République</li>
            <li>Quartier Latin</li>
            <li>Trocadéro</li>
            <li>Saint-Germain</li>
            <li>Notre Dame</li>
            <li>Odéon</li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4">
          <h4>Les cuisines</h4>
          <ul>
            <li>Française</li>
            <li>Chinoise</li>
            <li>Mexicaine</li>
            <li>Italienne</li>
            <li>Japonaise</li>
            <li>Indienne</li>
            <li>Libanaise</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <div class="footer-bottom">

  </div>
  <div >
    <ul class="list-inline text-center">
      <li>© La Fine Equipe</li>
    </ul>
    <div style="padding-bottom: 50px;"class="text-center footer-text">
      <i class="fa fa-facebook fa-2x i-f faa-float animated-hover" style="padding: 20px;"></i> <i class="fa fa-twitter fa-2x i-f faa-float animated-hover" style="padding: 20px;"></i> <i class="fa fa-instagram fa-2x i-f faa-float animated-hover" style="padding: 20px;"></i>
    </div>
  </div>
</footer>




