
<!--<img src= "/assets/images/map1.jpg" alt="" usemap="#Map" />-->
<%=image_tag "map1.jpg", usemap: "#my_map", id: "map_image" %>

<div id="parismap" style="width: 500px; height: 500px;"></div>








