<div id="home" class="container-fluid no-padding" >
  <div class="row" style= "background-image=url('../../images/pattern.png')">
    <div class="col-xs-12">
      <div class="banner_home text-center">
        <!--<div class="map">
        </div>-->
          <div class="map"></div>

        <button type="submit" class="banner_home-btn btn-default" method="post" action="properties">A table!<new!></new!></button>
      </div>
    </div>
  </div>
</div>

<h2 class="text-center">Comment ça marche?</h2>
<br><br>

<div class="container-fluid">
  <div class="row">


    <div class="col-xs-12 col-md-2"></div>
    <div class="col-md-4">
      <%=image_tag("search.png", size: '60')%>
      <br>
      <br>
      <p class="justify">Cherchez les restaurants qui viennent d'ouvrir autour de vous, ici, ailleurs, parmis les restaurants recommandés par la communauté kickfood.</p>
    </div>

    <div class="col-xs-12 col-md-4">
      <%=image_tag("discount.png", size: '60')%>
      <br>
      <br>
      <p class="justify">Demandez votre réduction sur notre site contre la promesse de donner un retour constructif et complet
        au restaurateur</p>
    </div>

    <div class="col-xs-12 col-md-2"></div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-2"></div>
    <div class="col-xs-12 col-md-4">
      <%=image_tag("dinner.png", size: '60')%>
      <br>
      <br>
      <p class="justify">Dégustez - Donnez votre code réduction au restaurateur</p>
    </div>

    <div class="col-xs-12 col-md-4">
      <%=image_tag("revue.png", size: '60')%>
      <br>
      <br>
      <p class="justify">Envoyez le formulaire de feedback préparé par le restaurateur et aidez les à améliorer leur
        service</p>
    </div>
  </div>
</div>


</div>





