<div class="banner text-center" style="background-image: url('https://images.unsplash.com/photo-1421622548261-c45bfe178854?q=80&fm=jpg&s=c1b7593a4df9c30e89c4c66a814e7bff')">
  <div class="banner-shadow"></div>
  <div class="banner-content">
  </div>
</div>

