

<div id="home" class="container-fluid no-padding" style= "background-image=url('../../images/pattern.png')" >
  <div class="row">
    <div class="col-xs-12">
      <div class="banner text-center">
        <div class="map">
        </div>
        <button type="submit" class="banner-btn btn-default" method="post" action="properties">A table!<new!></new!></button>
      </div>
    </div>
  </div>
</div>
