<% @footer = true %>
<br>
<h1 class="main-title"><span class="fixed-title">Les meilleurs restaurants de Paris</span><br><span class="rotate">Avant tout le monde, Sans écorcher sa bourse</span></h1>
<br><br>
<div id="home" class="container no-padding" >
  <div class="row map-and-icons">
    <div class="col-xs-12 col-md-4 home-text" style="white-space: nowrap;">
      <span class="line1"><i class="fa fa-check"></i> A l’aubergiste de moins d’un an, demande un coupon !</span><br><br>
      <span class="line2"><i class="fa fa-check"></i> Savoure ton met délicieux
      en promotion.<br><br></span>
      <span class="line3"><i class="fa fa-check"></i> Donne un feedback de ton émotion.</span><br><br><br><br>
      <div class="line4"><%=link_to 'A table !', restaurants_path, class: "btn btn-success btn-lg btn-homepage" %></div>
    </div>
    <div class="col-xs-12 col-md-8 ">
      <%= render 'pages/map2.html.erb' %>
    </div>
      <!-- <i class="fa fa-map-marker fa-3x map-marker-1"></i>
      <i class="fa fa-map-marker fa-3x map-marker-2"></i>
      <i class="fa fa-map-marker fa-3x map-marker-3"></i>
      <i class="fa fa-map-marker fa-3x map-marker-4"></i>
      <i class="fa fa-map-marker fa-3x map-marker-5"></i>
      <i class="fa fa-map-marker fa-3x map-marker-6"></i> -->
    </div>
  </div>
</div>
<br><br><br><br><br>
<div class="grey-bg padded">
  <div class="container">
    <div class="row">
      <h2 class="text-center">Les avantages de Foodkick</h2>
      <br><br><br>
      <ul class="timeline">
          <li>
            <div class="timeline-badge info"><i class="glyphicon glyphicon-check"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">L’intuition de l’avenir</h4>
              </div>
              <div class="timeline-body">
                <p>Cherche parmi les restaurants de Paris ouverts il y a moins d’un an et lèche toi les babines.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-badge info"><i class="glyphicon glyphicon-check"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">L’Amour de la communauté</h4>
              </div>
              <div class="timeline-body">
                <p>En demandant un coupon, Foodkick te permet de déguster leurs mets avec une réduction (de l’addition, on ne parle pas de sauce*).</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-badge info"><i class="glyphicon glyphicon-check"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">La Grâce de ton retour</h4>
              </div>
              <div class="timeline-body">
                <p>En échange de ta promo, donne à l’Aubergiste l’occasion de parfaire sa technique en lui donnant un bon vieux feedback bien mûr (le feedback  n’est pas un fruit, pas besoin d’attendre*).</p>
              </div>
            </div>
          </li>
      </ul>
    </div>
  </div>
  <br><br><br>
  <div class="row">
    <div class="col-xs-12 text-center">
      <%=link_to 'A table !', restaurants_path, class: "btn-homepage btn-default btn-lg" %>
    </div>
    </div>
  </div>
</div>

<div class="container padded">
  <%=render 'pages/home_index.html.erb' %>
</div>

<div class="container-fluid padded">
  <div class="row">
    <h2 class="text-center sm-padded">La communauté des foodies</h2>
  </div>
  <br><br><br><br>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="customers-review-card-1">
        <h4 class="text-center"></h4>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="customers-review-card-2">
        <h4 class="text-center"></h4>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="customers-review-card-3">
        <h4 class="text-center"></h4>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="customers-review-card-4">
        <h4 class="text-center"></h4>
      </div>
    </div>
  </div>
</div>
