<% @footer = true %>
<h1 class="main-title"><span class="fixed-title">Les meilleurs restaurants de Paris</span><br><span class="rotate">Avant tout le monde, Sans écorcher sa bourse</span></h1>
<br>
<div id="home" class="container no-padding" >
  <div class="row map-and-icons">
    <div class="col-xs-12 col-md-4 home-text">
      <p>A l’Aubergiste de moins d’un an, soigneusement choisi, demande un coupon !</p>
      <p>Savoure ton met absolument délicieux en promotion</p>
      <p> Donne un feedback de ton émotion</p>
      <%=link_to 'A table !', restaurants_path, class: "btn btn-success btn-lg btn-homepage" %>
    </div>
    <div class="col-xs-12 col-md-8 ">
      <%= render 'pages/map2.html.erb' %>
    </div>
      <!-- <i class="fa fa-map-marker fa-3x map-marker-1"></i>
      <i class="fa fa-map-marker fa-3x map-marker-2"></i>
      <i class="fa fa-map-marker fa-3x map-marker-3"></i>
      <i class="fa fa-map-marker fa-3x map-marker-4"></i>
      <i class="fa fa-map-marker fa-3x map-marker-5"></i>
      <i class="fa fa-map-marker fa-3x map-marker-6"></i> -->
    </div>
  </div>
</div>
<br><br><br><br><br>
<div class="grey-bg padded">
  <div class="container">
    <div class="row">
      <h2 class="text-center">Les avantages de Foodkick</h2>
      <br><br><br>
      <ul class="timeline">
          <li>
            <div class="timeline-badge info"><i class="glyphicon glyphicon-heart"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Nouveauté</h4>
              </div>
              <div class="timeline-body">
                <p>Cherchez les restaurants qui viennent d'ouvrir autour de vous parmis les restaurants recommandés avec soin par la communauté kickfood.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-badge info"><i class="glyphicon glyphicon-heart"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Amour</h4>
              </div>
              <div class="timeline-body">
                <p>Demandez votre réduction sur notre site contre la promesse de donner un retour constructif et complet au restaurateur.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-badge info"><i class="glyphicon glyphicon-heart"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Prix</h4>
              </div>
              <div class="timeline-body">
                <p>Dégustez, appréciez, et payer moins cher grâce à votre code Foodkick</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-badge info"><i class="glyphicon glyphicon-heart"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Reconnaissance</h4>
              </div>
              <div class="timeline-body">
                <p>"Feedback is a gift" - Envoyez le formulaire de feedback préparé par le restaurateur et aidez les à améliorer son service - Le feedback sera gardé secret, c'est entre le restaurateur et vous !</p>
              </div>
            </div>
          </li>
      </ul>
    </div>
  </div>
  <br><br><br>
  <div class="row">
    <div class="col-xs-12 text-center">
      <%=link_to 'A table !', restaurants_path, class: "banner_home-btn btn-default btn-lg" %>
    </div>
    </div>
  </div>
</div>
<div class="container-fluid padded">
  <div class="row">
    <h2 class="text-center sm-padded">La communauté des foodies</h2>
  </div>
  <br><br><br><br>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="customers-review-card-1">
        <h4 class="text-center"></h4>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="customers-review-card-2">
        <h4 class="text-center"></h4>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="customers-review-card-3">
        <h4 class="text-center"></h4>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="customers-review-card-4">
        <h4 class="text-center"></h4>
      </div>
    </div>
  </div>
  <%=render 'pages/home_index.html.erb' %>
</div>
<br> <br> <br> <br>











