<div class="container padded text-center">
  <div class="row">
    <h2> Désolé, le code ne correspond à rien du tout du tout... </h2>
  </div>
  <%=link_to "Ayez de l'espoir, réessayez, l'Internet sera peut être plus clément", validate_code_path %>
</div>
