<div class="container">
  <div class="row text-center">
    <br><br><br><br>
    <%= simple_form_for [@restaurant, @reservation] do |f| %>
      <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
      <%= f.input :restaurant_id, :as => :hidden, :input_html => { :value => @restaurant.id } %>
    <%= f.button :submit %>
    <% end %>
  </div>
</div>

