/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

#wrapper {
  margin-top: 70px;
}

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}
.sm-padded {
  padding-top: 1em;
  padding-bottom: 1em;
}

// Backgrounds
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}

// General

.hiddden {
  visibility: hidden;
}

a, a:active, a:focus, a:hover {
   outline: 0;
   text-decoration: none;
}

input::-moz-focus-inner {
  border: 0;
}
