<div class="row">
  <div class="text-center">
    <% @restaurants.each do |restaurant| %>
      <h2><%= restaurant.name %></h2>
      <p><%= restaurant.borough %></p>
      <p><%= restaurant.category %></p>
      <%= link_to "Découvrir", restaurant_path(restaurant) %>
      <br><br>
    <% end %>
  </div>
</div>

