.card {
  position: relative;
  height: 275px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: white;
  margin: 20px auto;
  &-bg{
    background-size: cover;
    border-radius: 3px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  &-shadow {
    background-image: linear-gradient(to right, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.1) 80%);
    border-radius: 3px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  &-description {
    font-size: 10px;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  &-reservation_code {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 13px;
  }

  &-reservation_date {
  position: absolute;
  top: 25px;
  right: 10px;
  font-size: 13px;
  line-height: 90%;
  }




  &-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    h2 {
      font-size: 24px;
    }
    p {
      font-size: 13px;
    }
  }
  &-user {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  &-link {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index:2;
    background: black;
    opacity: 0;
    left: 0;
    &:hover{
      opacity: 0.2;
    }
  }
  &-search {
    position: absolute;
    display: block;
    margin-top: 100px;
    width: 100%;
    text-align: center;
    display: none;
  }

  &:hover{
    .card-description, .card-text{
      display:none;
    }
    .card-search{
      display:block;
    }
  }
}


