.dropdown-toggle {
  position: absolute;
  left: 14px;

}


.dropdown-menu {
  left: 10px;
  top: 28px;
  background: #8AD4A1;
  border-color: #8AD4A1;
  background-color: white;
}

#dropdownMenu1:hover {
  background-color: #8AD4A1;
}

#dropdownMenu2 {
  background-color: #CCE5FA;
}



.row {

  position: relative;
}


.right {
  left: 140px;

}

.bis {

  border-color: #CCE5FA ;
}




