.banner {
  background-size: cover;
  color: white;
  padding: 200px;
  position: relative;
  z-index: 0;
  background-position: center;
  h1 {
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
  p {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 3;
    margin-bottom: 18px;
  }
  &-shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  &-content {
    position: relative;
    z-index: 2;
  }

  .btn {
    padding: 12px 30px;
    border-radius: 3px;
    font-weight: bold;
    border: none;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
    font-size: 16px;
  }
  &-category {
    position: absolute;
    z-index: 2;
    border: 2px;
    border-color: white;
  }
}
